
.green {
    height: 80% !important;
    width: 37% !important;
}

.trini {
    height:  80% !important;
    width: 35% !important;
    position: absolute;
    bottom: -9% !important;
}

.title-container {
    margin-top: 11% !important;
}



@media screen and (max-width: 768px) {
    .green {
        width: 350px !important;
        height: 400px !important;
    }

    .trini {
        width: 320px !important;
        height: 450px !important;
    }

    .title-text {
        font-size: 1.4rem !important;
        margin-top: -25px !important;
        line-height: 2cap !important;
    }

    .title-paragraph {
        font-size: 0.8rem !important;
        margin-top: -20px !important;
    }

    .title-container {
        width: 500px !important;
    }

  
  }
  
  @media screen and (max-width: 698px) {
    .title-container {
        width: 500px !important;
        margin-left: -80px !important;
    }
  
  }

  @media screen and (max-width: 620px) {
    .title-text {
        font-size: 1.2rem !important;
        margin-top: -25px !important;
        line-height: 2cap !important;
    }

    .title-paragraph {
        font-size: 0.6rem !important;
        margin-top: -20px !important;
    }

    .title-container {
        width: 400px !important;
        margin-top: 25px !important;
    }
  }

  @media screen and (max-width: 544px) {
    .green {
        width: 240px !important;
        height: 400px !important;
    }

    .trini {
        width: 200px !important;
        height: 400px !important;
    }

    .title-text {
        font-size: 1.2rem !important;
        margin-top: -25px !important;
        line-height: 2cap !important;
    }

    .title-paragraph {
        font-size: 0.8rem !important;
        margin-top: -20px !important;
    }

    .title-container {
        width: 500px !important;
    }
    
  }

  @media screen and (max-width: 492px) {
    .title-text {
        font-size: 1.2rem !important;
        margin-top: -25px !important;
        line-height: 2cap !important;
    }

    .title-paragraph {
        font-size: 0.8rem !important;
        margin-top: -20px !important;
    }

    .title-container {
        width: 400px !important;
    }
    
  }

  @media screen and (max-width: 430px) {
    .green {
        width: 100% !important;
        height: 50% !important;
    }

    .trini {
        width: 80% !important;
        height: 55% !important;
    }


    .title-text {
        font-size: 1.5rem !important;
        margin-top:  15% !important;
        line-height: normal !important;
    }

    .title-paragraph {
        font-size: 0.8rem !important;
        margin-top: -20px !important;
    }

    .title-container {
        width: 500px !important;
        margin-left: -40px !important;
    }

    .event-box {
        display: flex !important;
        flex-direction: column !important;
    }

    .form-box {
        display: flex !important;
        flex-direction: row-reverse !important;
        width: 85% !important;
    }

    .form-box h1{
        font-size: 1.2rem !important;
    }

    .form-box label {
        font-size: 1rem !important;
    }

    .form-box input {
        width: 200px !important;
    }

    .form-box img {
        display: none !important;
    }

    .form-box1 {
        display: none !important;
        
    }

    .form-box2 {
        padding-top: 1.2rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 1.2rem !important;
        
    }

    .x-pic {
        display: none !important;
    }
    
    .create-button {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .hakdog {
        display: flex !important;
        flex-direction: column !important;
    }
    
    .space-for-date {
        display: flex !important;
        gap: 0.2rem !important;
    }
   
    
  }